<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    <span ng-show="load"><i class="icon ion-loading-a"></i> Fetching Update </span>
                    <span ng-hide="load"> {{ update }} </span>
                </div>
            </div>
        </div>
        <!-- <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>-->
    </ion-content>
</ion-view>